<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= room.user_id %>
  </p>

  <p>
    <strong>Second user:</strong>
    <%= room.second_user_id %>
  </p>

</div>
